.ExitBtn {
    width: 5%;
    height: 5%;
}

.errorpanel {
    left: 713px;
    position: absolute;
    top: auto;
    transition-duration: 0.5s;
    bottom: -500px;
}

.errorpanel.on {
    position: absolute;
    top: auto;
    bottom: 35%;
}
